.footer {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#ffe7bb;
  margin-top: 50px;
}
.footer img {
  width: fit-content;
  height: fit-content;
}
