@import url("https://fonts.googleapis.com/css2?family=Hind:wght@500&display=swap");
nav {
  z-index: 100000000000;
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  letter-spacing: 3px;
  display: flex;
  position: fixed;
  top: 0;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 30px;
  background-color: transparent;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  user-select: none;
}
nav img {
  height: 16px;
}
.nav > ul > li {
  display: inline;
  padding: 0 20px;
}
.nav > ul > li svg {
  height: 16px;
}
nav.under {
  background-color: transparent;
  height: 85px;
  color: gray;
}
nav.under img:first-of-type {
  display: block;
}
nav.under img:last-of-type {
  display: none;
}
nav.above {
  background-color: black;
  height: 75px;
  color: white;
}
nav.above img:first-of-type {
  display: none;
}
