.section4 > * {
  user-select: text;
}
.section4 {
  width: 100%;
  padding: 1% 10%;
  margin: auto;
  min-height: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  margin-top: 20px;
}
.section4 > p {
  font-size: 3rem;
  width: 90%;
  text-align: center;
}
.section4 .grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  min-height: calc(5 * 65px);
  padding: 10px;
  place-items: center;
  gap: 25px;
}
.grid .children {
  height: 100%;
  color: gray;
  padding: 15px;
  width: 375px;
}
.grid .children > p:first-of-type {
  height: 15%;
  color: black;
  letter-spacing: 5px;
}
.grid .children p:last-of-type {
  font-size: 0.8rem;
}
.grid .children > div:last-of-type {
  height: 181.5px;
  letter-spacing: 2px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
.line {
  height: 5px;
}
.first1 {
  width: 100%;
  background-color: gray;
}
.percent {
  letter-spacing: initial;
  position: absolute;
}
.first {
  right: 0%;
}
.first1:first-of-type,
.nine {
  top: 0%;
}
.second {
  right: 10%;
  top: 26%;
}
.seven1,
.eight {
  top: 30%;
}
.six,
.seven {
  top: 50%;
}
.third {
  right: 24%;
  top: 51%;
}
.last {
  background-color: black;
  width: 0;
  transition: width 1s ease;
  -webkit-transition: width 1s ease;
  -moz-transition: width 1s ease;
  -ms-transition: width 1s ease;
  -o-transition: width 1s ease;
  margin-top: -10px;
}
.fourth {
  right: 29%;
  top: 77%;
}
.grid > div > div > span:not(.percent) {
  position: relative;
  right: 0;
  width: 100%;
  text-align: start;
}
