.section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  width: 100%;
  max-height: 900px;
  min-height: 70%;
  padding: 0 150px;
  background-color: #eee;
  overflow: hidden;
  margin-top: 10px;
  isolation: isolate;
  gap: 15px;
  justify-content: center;
  align-items: center;
}
.section img {
  /*   min-height: 50%;
  max-height: 85%; */
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  user-select: none;
  z-index: -1;
}
.section > div {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
.hard {
  letter-spacing: 10px;
  font-size: 1.5rem;
  font-weight: 100;
  width: 100%;
}
.con {
  height: fit-content;
  color: gray;
}
.con p:last-of-type {
  margin-top: 30px;
  width: 90%;
}
.section button {
  min-width: 35%;
  max-width: 50%;
  padding: 5px;
  border: 2px solid black;
  background-color: transparent;
  letter-spacing: 5px;
  font-weight: 700;
  user-select: none;
}
@media (max-width: 916px) {
  .section img {
    height: 60%;
  }
}
@media (max-width: 400px) {
  .section img {
    height: 200px;
  }
}
