.parent {
  display: grid;
  padding: 0 50px;
  width: 100%;
  max-height: fit-content;
  justify-content: center;
  min-height: 200px;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  margin: 70px 0;
  gap: 30px;
}

.flex {
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;
  height: 145px;
  width: 100%;
}
.flex svg {
  width: 100%;
  height: 25%;
}
.flex .head {
  font-weight: 700;
  letter-spacing: 5px;
}
.flex p {
  user-select: text;
}
.main {
  color: grey;
  width: 100%;
  text-align: center;
}
