section {
  z-index: 1;
  position: relative;
  top: -40px;
  width: 100vw;
  height: 100vh;
  user-select: none;
}
.row {
  width: 100%;
  height: 100%;
}
.img {
  width: 100%;
  height: 100%;
}
.cen-btns {
  width: fit-content;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  color: var(--main-color);
}
.left,
.right {
  position: absolute;
  z-index: 10;
  top: 50%;
  height: 30px;
  width: fit-content;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  cursor: pointer;
}
.left {
  left: 5%;
}
.right {
  right: 5%;
  rotate: y 180deg;
}
.powr {
  color: black;
  width: 100%;
}
.powr,
.btns button {
  font-weight: 700;
  text-align: center;
}
.powr span {
  padding: 0 calc(10% / 3);
}
.btns {
  display: flex;
  width: 307px;
  letter-spacing: initial;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;
  font-style: italic;
}
.btns button {
  width: 40%;
  padding: 5px 0;
  border: 2px solid black;
  letter-spacing: 5px;
}
.cen-btns p:first-of-type span {
  padding: 0 calc(4% / 4);
}
.container {
  width: 100%;
  height: 100%;
}
.container img {
  width: 100%;
  height: 95%;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
@media (min-width: 300px) {
  section {
    font-size: 1rem;
    letter-spacing: 5px;
  }
  .powr {
    font-size: 1rem;
  }
}
@media (min-width: 900px) {
  section {
    font-size: 25px;
    letter-spacing: 25px;
  }
  .powr {
    font-size: 1.5rem;
  }
}
